@page "/"

<PageTitle>Record List Generator</PageTitle>

<TopBanner BannerTxt="QUICKGRID">
    <h6 class="text-center m-1"> A new fully functional, easy to use DATAGRID </h6>
</TopBanner>

<!-- Greeting Message -->
<div class="container h90 ColVLeftHCenter">
    <div class="row m-0 p-0">
        <div class="col-12 m-5 p-0 ">
            <h2><b><u>QUICKGRID</u></b></h2>
            <br /><br />
            <h4><b>=></b> Simple to use, just include a using clause in your code</h4>
            <br />
            <h4><b>=></b> Open Souce component built by Microsoft</h4>
            <br />
            <h4><b>=></b> Pagination, Sort and Search easy to use</h4>
            <br />
            <h4><b>=></b> Highly configurable and modifiable by the user</h4>
            <br />
            <h4><b>=></b> Caveat : (2022) not yet a part of Microsoft support</h4>
            <br />      <br />
            <br />      <br />
            <br />      <br />
            <br />      <br />
        </div>
    </div>
</div>

<style>
    .h90 {
        height: 90%;
    }
    .ColVLeftHCenter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-family: 'Montserrat';
        font-size: 2.5em;
        font-style: italic;
    }
    h4 {
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
</style>
